# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [9]:
num_int = 45

print(num_int)
print(type(num_int))

45
<class 'int'>

##### Assinging float

In [10]:
num_float = 234.56

print(num_float)
print(type(num_float))

234.56
<class 'float'>

In [13]:
# The decimal (.) is what tells Python to make this a float

float_again = 35.

print(float_again)
print(type(float_again))

35.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [19]:
num1 = 2
num2 = 5

# int + int => int
# float + float => float
# float + int => float

result = num1 + num2

print(result)
print(type(result))

7
<class 'int'>

In [20]:
# Short-hand 
result += 10 # result = result + 10
print(result)

17

##### Subtraction

In [22]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1 # result_diff = result_diff - 1

print(result_diff)

3
2

##### Multiplication

In [24]:
result_prod = num1 * num2
print(result_prod)

result_prod *= 5 # result_prod = result_prod * 5
print(result_prod)

10
50

##### Division

In [28]:
result_div = num2 / num1
print(result_div)

new_result = 20/10
print(new_result)
print(type(new_result))
# The division operator (/) always returns a float

result_div /= 2 # result_div = result_div / 2

print(result_div)

2.5
2.0
<class 'float'>
1.25

##### Floor Division

In [31]:
result_normal = 15 / 4
print(result_normal)


# Return the floor of a division expression i.e. the highest interger less than or equal to the value
# Syntax - //
result_floor = 15 // 4
print(result_floor)

result_floor //= 2 # result_floor = result_floor // 2
print(result_floor)

3.75
3
1

##### Modulo

In [33]:
# Return the remainder of a division expression
# Syntax - %

num3 = 48
num4 = 5

result_mod = num3 % num4
print(result_mod)

result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

3
1

##### Exponential

In [37]:
# Syntax - **
num5 = 3
num6 = 2

cubed = num6 ** num5

print(cubed)

cubed **= 3 # cubed = cubed ** 3
print(cubed)

8
512

### String Input-Output

##### String Assignment

In [38]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [39]:
name2 = 'Stanton'
print(name2)
print(type(name2))

Stanton
<class 'str'>

In [41]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [42]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: unterminated string literal (detected at line 1) (1937463103.py, line 1)

In [43]:
contraction3 = 'You can\'t do that'
print(contraction3)

You can't do that

In [44]:
quote1 = 'He said, "Hello, how are you?"'
print(quote1)

He said, "Hello, how are you?"

In [45]:
quote2 = "He said, \"Hello, how are you?\""
print(quote2)

He said, "Hello, how are you?"

In [47]:
multi_line = '''
This is the first line
this is my second line,
and here is a new line
'''

print(multi_line)

This is the first line
this is my second line,
and here is a new line

##### Escape Characters

In [48]:
print("Hello my
      name is Brian")

SyntaxError: unterminated string literal (detected at line 1) (1854590146.py, line 1)

In [49]:
print("Hello my \
name is Brian")

Hello my name is Brian

In [50]:
print("""Hello my 
name is Brian""")

Hello my
name is Brian

In [51]:
# \n - new line character
print("Hello\nHow are you?")

Hello
How are you?

In [52]:
# \t - tab character
print("Hello\tHow are you?")

Hello	How are you?

In [53]:
print("Dear Brian,\n\tI hope you are well.")

Dear Brian,
	I hope you are well.

In [54]:
# Raw String
print(r"Dear Brian,\n\tI hope you are well.")

Dear Brian,\n\tI hope you are well.

In [57]:
print(r"cat\b")

cat\b

##### String Concatenation

In [62]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

# += works with strings too!
full_name += ', Jr.' # full_name = full_name + ', Jr.'
print(full_name)

John Smith
John Smith, Jr.

In [63]:
num_a = '10'
num_b = 10

num_c = num_a + num_b
print(num_c) # 20, 1010, TypeError, NaN

TypeError: can only concatenate str (not "int") to str

In [64]:
num_c = num_b + num_a

# Cannot add strings and integers - will result in TypeError

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
# Strings can be multiplied by an integer to create a new string of original repeated x times
print('=!'*30)

=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!

##### Type Conversion

In [69]:
print(type(num_a))
print(type(num_b))

<class 'str'>
<class 'int'>

In [71]:
num_a_int = int(num_a)
print(num_a_int)
print(type(num_a_int))

num_c = num_a_int + num_b
print(num_c)

10
<class 'int'>
20

In [73]:
num_b_as_str = str(num_b)
print(num_b_as_str)
print(type(num_b_as_str))

num_d = num_a + num_b_as_str
print(num_d)

10
<class 'str'>
1010

In [75]:
some_int = int('34.64')
print(some_int)

ValueError: invalid literal for int() with base 10: '34.64'

In [76]:
some_float = float('34.64')
print(type(some_float))

<class 'float'>

##### .format() and f-strings

In [78]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [85]:
name = 'Brian'
last = 'Stanton'
hometown = 'Chicago'
age = 56

print("Hello my name is {n} {l} and I am {a} years old and I am from {h}!".format(a=age, h=hometown, l=last, n=name))
print(f"Hello my name is {name} {last} and I am {age} years old and I am from {hometown}!")

Hello my name is Brian Stanton and I am 56 years old and I am from Chicago!
Hello my name is {name} {last} and I am {age} years old and I am from {hometown}!

##### Old Way (python 2)

In [83]:
print("Hello my name is %s and I am from %s" % (name, hometown))

Hello my name is Brian and I am from Chicago

In [84]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [88]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'


print(f"I drive a {color} {int(year) + 1} {make} {model}")

print("I drive a " + color + " " + str(int(year) + 1) + " " + make + " " + model)

I drive a blue 2023 Ford Focus
I drive a blue 2023 Ford Focus

### Booleans

In [89]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [90]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [91]:
# if <expression>:
#     <statement>

# Indentation matters! Lines indented under the if will only run if the condition is True

if True:
    print('Hello this is true')

Hello this is true

In [97]:
if False:
    print('Hello this is false')

In [104]:
print('Start Code')

if False:
    print('Hello')
    print('How are you')
    
print('End Code')

Start Code
End Code

In [113]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2


print(num1 > num2)
print(num1 == num2 * num3)
print(num1 != num3)
print(num1 > num2 * num3)

True
True
True
False

In [114]:
if num1 > num2:
    print('num1 is greater than num2')

if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')
    
if num1 > num2 * num3:
    print('num1 is greater than num2 times num3')

num1 is greater than num2
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [116]:
# Truth Tree:
# T and T = T
# T and F = F
# F and T = F
# F and F = F

# T or T = T
# T or F = T
# F or T = T
# F or F = F

potential_candidate_gpa = 2.2
potential_candidate_act = 35

if potential_candidate_gpa > 2.5 and potential_candidate_act > 25:
    print('Student meets minimum requirements. Move them along...')
else:
    print('Reject student...')

Reject student...

In [118]:
potential_candidate_gpa = 3.5
potential_candidate_act = 15

if potential_candidate_gpa > 2.5 or potential_candidate_act > 25:
    print('Student meets min req')
else:
    print('Rejected!')

Student meets min req

In [124]:
number = 4

if number == 4 or number == 5 or number == 6:
    print('Number is 4-6')
    
if number in {4, 5, 6}:
    print('Hi')

Number is 4-6
Hi

### Else Statements

In [131]:
# An else statement runs when the if statement DIRECTLY above it evaluates to False

age = 55

if age > 35:
    print('You can vote and also run for president')

if age >= 18:
    print('You can vote')
else:
    print('You must be at least 18 to vote')

You can vote and also run for president
You can vote

### Elif Statements

In [135]:
# An elif only runs when the if (or elif) directly above it evaluates to False

# Pretend we are checking tickets at an R-Rated movie. If the movie goer is an adult, just say thanks and enjoy
# if the movie goer is 14-17, check for parent

required_age = 18
with_parent_age = 14

has_parent = False

movie_goer_age = 10


if movie_goer_age >= required_age:
    print('Thanks, enjoy the film!')
elif movie_goer_age >= with_parent_age and has_parent:
    print('Cool beans, enjoy the film with the folks!')
elif movie_goer_age >= with_parent_age and not has_parent:
    print("You're old enough to see this with a parent, but I don't see one here...")
else:
    print('You cannot see this film until you are older.')

You cannot see this film until you are older.

In [136]:
required_age = 18
with_parent_age = 14

has_parent = False

movie_goer_age = 45


if movie_goer_age >= required_age:
    print('Thanks, enjoy the film!')
if movie_goer_age >= with_parent_age and has_parent:
    print('Cool beans, enjoy the film with the folks!')
if movie_goer_age >= with_parent_age and not has_parent:
    print("You're old enough to see this with a parent, but I don't see one here...")
else:
    print('You cannot see this film until you are older.')

Thanks, enjoy the film!
You're old enough to see this with a parent, but I don't see one here...

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [145]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

if person_age >= 65:
    ticket *= .75
elif person_age < 10:
    ticket *= .50
    
print(f"Your ticket is ${ticket:.2f}")

Your ticket is $5.00

### Lists

##### Declaring Lists

In [176]:
# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type;

list_1 = [] # Empty list declaration
print(list_1)
print(type(list_1))

names = ['Mike', 'Carol', 'Allison', 'Jim', 'Bob', 'Polly']
print(names)
print(type(names))

[]
<class 'list'>
['Mike', 'Carol', 'Allison', 'Jim', 'Bob', 'Polly']
<class 'list'>

##### Indexing a List

In [177]:
# list[start: stop: step] - start in inclusive, stop is exclusive
# 0-based index

# Single Index
print(names[3])

# Negative numbers start from the back
print(names[-6])

# Slice the list at index 1 and go to the end (leave the stop empty)
print(names[1:])

# Slice the list at index 1 up to but not including index 5
print(names[1:5])

# Slice from the beginning of the list to a certain index (but not including) (leave the start empty)
print(names[:5])

# Slice the whole list -> make a copy of the list
print(names[:])


# Slice from the 4th to last to the end
print(names[-4:])

# Slice every other element in the list
print(names[::2])

# Negative steps will walk backwards through the list - create a reversed copy of list
print(names[::-1])

# Combo Time!
print(names[1:5:2])

Jim
Mike
['Carol', 'Allison', 'Jim', 'Bob', 'Polly']
['Carol', 'Allison', 'Jim', 'Bob']
['Mike', 'Carol', 'Allison', 'Jim', 'Bob']
['Mike', 'Carol', 'Allison', 'Jim', 'Bob', 'Polly']
['Allison', 'Jim', 'Bob', 'Polly']
['Mike', 'Allison', 'Bob']
['Polly', 'Bob', 'Jim', 'Allison', 'Carol', 'Mike']
['Carol', 'Jim']

In [178]:
# Lists are mutable - meaing you can changes the values using item assignment
# Item assignment - list[index] = value

print(names)

names[3] = 'James'
print(names)

['Mike', 'Carol', 'Allison', 'Jim', 'Bob', 'Polly']
['Mike', 'Carol', 'Allison', 'James', 'Bob', 'Polly']

In [179]:
# Strings are IMmutable

my_string = 'Hello World'
print(my_string)

my_string[1] = 'E'
print(my_string)

Hello World

TypeError: 'str' object does not support item assignment

##### .append()

In [180]:
# list.append(value) -> Add the value to the end of the list

print(names)

names.append('Brian')

print(names)

['Mike', 'Carol', 'Allison', 'James', 'Bob', 'Polly']
['Mike', 'Carol', 'Allison', 'James', 'Bob', 'Polly', 'Brian']

##### .insert()

In [181]:
# list.insert(index,value) -> Add the value at index and shift everything after down 1

print(names)

names.insert(2, 'Kevin')

print(names)

['Mike', 'Carol', 'Allison', 'James', 'Bob', 'Polly', 'Brian']
['Mike', 'Carol', 'Kevin', 'Allison', 'James', 'Bob', 'Polly', 'Brian']

##### .pop()

In [182]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)
best_instructor = names.pop()
print(names)
print(best_instructor)

['Mike', 'Carol', 'Kevin', 'Allison', 'James', 'Bob', 'Polly', 'Brian']
['Mike', 'Carol', 'Kevin', 'Allison', 'James', 'Bob', 'Polly']
Brian

In [183]:
print(names)
real_best_instructor = names.pop(2)
print(names)
print(real_best_instructor)

['Mike', 'Carol', 'Kevin', 'Allison', 'James', 'Bob', 'Polly']
['Mike', 'Carol', 'Allison', 'James', 'Bob', 'Polly']
Kevin


##### .remove()

In [186]:
names.append('Bob')
names.append('Mike')
names.append('Bob')
print(names)

['Mike', 'Carol', 'Allison', 'James', 'Bob', 'Polly', 'Bob', 'Mike', 'Bob']

In [187]:
# value to be removed , not index
# list.remove(value_to_remove) - remove the FIRST value that matches

names.remove('Bob')
print(names)

['Mike', 'Carol', 'Allison', 'James', 'Polly', 'Bob', 'Mike', 'Bob']

In [188]:
while 'Bob' in names:
    names.remove('Bob')
    
print(names)

['Mike', 'Carol', 'Allison', 'James', 'Polly', 'Mike']

##### del()

In [ ]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

##### Concatenating Two Lists

In [ ]:
# will append two lists together, not add up the elements in each list

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

### For Loops

In [189]:
# for <keyword> in <iterable>:
#     <statement>

print('Begin Loop')

for x in [5, 10, 15, 20, 25, 30]:
    print(x)
    
print('End Loop')

Begin Loop
5
10
15
20
25
30
End Loop

In [192]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color.upper())

RED
ORANGE
YELLOW
GREEN
BLUE
INDIGO
VIOLET

In [195]:
name = 'Brian'

for letter in name:
    print(letter)
    print('Hello')

B
r
i
a
n
Hello

##### Continue Statement

In [196]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# will continue to next iteration

In [199]:
for element in list_to_use:
    if element == 50:
        continue
    print(element)
    print('Hello')
    print('How are you')

10
Hello
How are you
20
Hello
How are you
30
Hello
How are you
40
Hello
How are you
60
Hello
How are you
70
Hello
How are you
80
Hello
How are you
90
Hello
How are you

##### Break Statement

In [ ]:
# will break out of current loop

In [202]:
for element in list_to_use:
    if element == 50:
        break
    print(element)
    
print('Loop is finished')

10
20
30
40
Loop is finished

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [204]:
for num in list_to_use:
    # Do something here - come back and implement later
    pass
    
print('Hello World')

Hello World

In [207]:
def some_func():
    # Update later
    pass

some_func()

##### Nested/Double For Loops

### While Loops

In [219]:
# while <conditional>:
#     <statement to run while condition is true>

from random import randint

random_number = randint(1,10)
random_number

6

In [228]:
random_number = randint(1,10)
while random_number != 5:
    print(random_number)
    random_number = randint(1,10)
    
print('Finally: ', random_number)

9
10
10
10
4
3
6
7
3
4
10
1
1
2
1
1
1
1
10
2
9
1
4
9
8
Finally:  5

##### Looping 'While True'

In [231]:

while True:
    ask = input('What would you like to do? ')
    if ask == 'quit':
        break
    else:
        print(f"you want to {ask}")

What would you like to do? sleep
you want to sleep
What would you like to do? dance
you want to dance
What would you like to do? play
you want to play
What would you like to do? quit

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []

# 0
# 1
# 8
# 27
# 64
# 125
# 216
# 343
# 512
# 729
# 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [232]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break

if 10 > 100:
    print('Hello')
else:
    print('Goodbye')

Goodbye

In [234]:
for i in [1, 2, 3, 4, 5]:
    if i == 3:
        print('Hello')
        break
else:
    print('Goodbye')

Hello

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [236]:
# * BONUS *

age = input('What is your age? ')
print(age, type(age))

What is your age? 55
55 <class 'str'>