# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

In [5]:
print('Hello again')

Hello again

In [6]:
def say_hello(name):
    print(f"Hello(name.upper()),how are you?")
    

say_hello('Brian')

Hello(name.upper()),how are you?

### Int & Float Assignments

##### Assigning int

In [7]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

In [11]:
big_list = []
for i in range (1000):
    big_list.append(1)
print("Hello")

Hello

In [12]:
print("Hello")

Hello

In [13]:
#####Assigning a Float

num_float = 234.56

print (num_float)
print (type(num_float))

234.56
<class 'float'>

In [14]:
# The decimal (.) is what tells Python to make this a float

float_again = 35

print (float_again)
print (type(float_again))

35
<class 'int'>

In [15]:
num_float = 6.12

print(num_float)
print(type(num_float))

6.12
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [16]:
num1 = 2
num2 = 5

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7
9

In [17]:
#Short-hand

result += 10 # result = result + 10

print(result)

19

##### Subtraction

In [18]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 1
print(result_diff)

3
2

In [19]:
result_diff = num2 - num1

print#(result_diff)

result_diff -= 1 # result_diff = result_diff - 1

print(result_diff)

2

In [20]:
##### Multiplication

In [21]:
result_prod = num1 * num2
print (result_prod)
result_prod *= 5 # result_prod = result_prod * 5
print (result_prod)

10
50

In [22]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10
20

##### Division

In [23]:
result_div = num2 / num1
print(result_div)

new_result = 20/10 

print(new_result)
print(type (new_result))

2.5
2.0
<class 'float'>

In [27]:
result_div = num2 / num1
print (result_div)


new_result = 20/10
print (new_result)
print(type(new_result))
# The division operator (/) always returns a float


result_div/= 2 # result_div = result_div / 2

print(result_div)

2.5
2.0
<class 'float'>
1.25

##### Floor Division

In [28]:
result_normal = 15 / 4
print (result_normal)
# Return the floor of a division expression i.e. the highest interger less than or equal to the value
# Syntax - // result floor :
result_floor= 15 // 4
print(result_floor)
    
result_floor//= 2 # result_floor = result_floor // 2
print (result_floor)

3.75
3
1

##### Modulo

In [30]:
# Return the remainder of a division expression
# Syntax
# - %


num3 = 48
num4 = 5


result_mod = num3 % num4
print(result_mod)


result_mod %= 2 # result_mod = result_mod % 2
print (result_mod)

3
1

##### Exponential

In [31]:
1# Suntay - **
num5 = 3
num6 = 2
cubed = num6 ** num5
print(cubed)
cubed **= 3 # cubed = cubed ** 3
print (cubed)

8
512

### String Input-Output

##### String Assignment

In [32]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [33]:
name2= 'Straton'
print(name2)
print(type(name2))

Straton
<class 'str'>

In [34]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [35]:
contraction3 = 'You can\'t + do that'
print(contraction3)

You can't + do that

In [47]:
quote1 = 'He said, "Hello, how are you?"'
print(quote1)

He said, "Hello, how are you?"

In [37]:
quote2 = "He said, \"Hello, how are you?!'"
print(quote2)

He said, "Hello, how are you?!'

In [49]:

multi_line = '''
This is the first line
3 this is my second line,
and here is a new line
'''



print(multi_line)

This is the first line
3 this is my second line,
and here is a new line

##### Escape Characters

In [50]:
print("Hello my name is Valencia")

Hello my name is Valencia

In [40]:
print("Hello my \
name is Valencia")

Hello my name is Valencia

In [41]:
print("Hello my \
name is Valencia")

Hello my name is Valencia

In [42]:
# \n
print("Hello\nHow are you?")

Hello
How are you?

In [43]:
print("Dear Valencia, \n\t")

Dear Valencia,

In [44]:
# \t# I+ - tab character
print ("Hello\n\tHope you are well?")

Hello
	Hope you are well?

In [45]:

# Raw String
print (r"Dear Valencia, n\tI hope you are well.")

Dear Valencia, n\tI hope you are well.

In [46]:
print(r"cat\b")

cat\b

##### String Concatenation

In [57]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + "• •" + last_name 
print(full_name)

# += works with strings too!
full_name += ' Jr.' # full_name = #full_name +', Jr.
print(full_name)

John• •Smith
John• •Smith Jr.

In [59]:
first_name  = 'John'
last_name = 'Smith'


full_name = first_name + ' ' + last_name 
print(full_name)

John Smith

In [60]:
#Strinas can be multiplied by an integer to create a new strina of orainal repeated × times
print('=!'*30)

=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!=!

In [61]:
print(r"cat\b")

cat\b

In [64]:
num_a = '10'
num_b = 10
num_c = num_b + num_a
#cannot acc strings and integers-will result in type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
num_a = '10'
num_b = 10
num_c = int(num_a) + num_b
print (num_c) #

20

In [ ]:
##### Type Conversion

In [67]:
print(type(num_a))
print(type(num_b))

<class 'str'>
<class 'int'>

In [68]:
num_a_int = int (num_a)
print (num_a_int)
print (type (num_a_int))


num_c = num_a_int + num_b
print (num_c)

10
<class 'int'>
20

In [71]:
some_float = float('34.64')
print(some_float)

34.64

In [ ]:
num_b_as_str = str (num_b)
print (num_b_as_str)
print (type (num_b_as_str))


num_d = rum_a + num_b_as_str
print (num_d)

In [ ]:
some_float = float ('34.64')
 print(type(some_float))

##### .format() and f-strings

In [ ]:
help(str.format)

In [ ]:
name = 'Brian'
last = 'Stanton'
hometown = 'Chicago'
age = 56
print("Hello my name is {nT} (1) and I am {a} years old and I am from {h}!".format (a=age, h=hometown, 1=last, n=name))
print(f"Hello my name is (name) (last} and I am (age) years old and I am from (hometown)!")

In [ ]:
name = 'Brian'
last = 'Stanton'
hometown = 'Chicago'
age = 56

print("Hello my name is {} {} and I am {} years old and I am from {}!". format (name, last, age, hometown))
print(f"Hello my name is (name) (last) and I am (age) years old and I am from {hometown!")

In [ ]:
name = 'Brian'
hometown = 'Chicago'
age = 56
print ("Hello my name is {} and I am {} years old and I am from (}!")

##### Old Way (python 2)

In [ ]:
print("Hello my name is %s and I am from %s" % (name, hometown))

In [ ]:
result = 10 + 5

print("The result is %i" % result)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [ ]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year = str(int(year) + 1)


print(f"I drive a {color} {year} {make} {model}.")

### Booleans

In [ ]:
bool_true =True
print (bool_true)
print(type(bool_true))

In [ ]:
bool_false=False
print(bool_false)
print(type(bool_false))

### If Statements

In [ ]:
# if ‹expression›:
#          <statement>
# Indentation matters! Lines indented under the if will only run if the condition is True

if True:
      print('Hello this is true')

In [ ]:
print('Start Code')
   if true:
        print('Hello')
print( 'How are you')
print('End Code')

In [ ]:
print('Hello')
print( 'How are you')
7 print('End Code')

In [ ]:
if False:
      print('Hello this is false')

In [ ]:
print('Start Code')

  if False:
    print ('Hello')
    print( 'How are you')

        print('End Code')

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num = 10
num = 5
num = 2


print(num1 >  num2)
print(num1 == num2 * num3)
print(num1 != num3)
print(num1 >= num2 * num3)

In [ ]:
if num1 > num:
print ('num1 is greater than num2')

 if num1 == num2 * num3:
print('num1 is equal to num2 times num3')

In [ ]:
if num1 > num2:
print('num1 is greater than num2')

if num1 == num2 * num3:
print('num1 is equal to num2 times num3')
 
if num1 > num2 * num3:
 print('num1 is greater than num2 times num3')

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F

# T or T = T
# T or F = T
# F or T = T
# F or F = F


potential_candidate_gpa = 3.5
potential_candidate_act = 35


 if potential_candidate_gpa › 2.5 and potential_candidate_act > 25:
    print('Student meets minimum requirements. Move them along...')
else:
    print('Reject student...')

In [ ]:
potential_candidate_gpa = 3.5
potential_candidate_act = 15

if potential_candidate_gpa > 2.5 or potential_candidate_act > 25:
    print( 'Student meets min reg')
else:
     print('Rejected!')

In [ ]:
### Else Statements

In [ ]:
# An else statement runs when the if statement above it evaluates to False

If the movie goer is greater to or equal to the required age great or enjoy the film.
if the movie goer

In [ ]:
# An else statement runs when the if statement DIRECTLY above it evaluates to False
 age = 21
      if age › 35:

      print( 'You can vote and also run for president')
 
   if age ›= 18:

        print( 'You can vote')
 
    else:

print 'You must be at least 18 to vote'

In [ ]:
# An else statement runs when the if statement DIRECTLY above it evaluates to False
    age = 55
    
    if age › 35:
    print('You can vote and also run for president')

if age >= 18:
    print( 'You can vote')
 
 else:
    print(You must he at least 18 to vote)

In [ ]:
number = 4


  if number == 4 or number == • or number == 6•
print('Number is 4-6')

  if number in {4, 5, 6}:
print('Hi')

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False
# Pretend we are checking tickets at an -Rated movie. If the movie goer is an adult, just say thanks and enjoy
# if the movie goer is 14-17, check for parent

required_age = 18
with_parent_age = 14
has_parent = False

movie_goer_age = 45


 
    if movie_goer_age ›= required_age:

print('Thanks, enjoy the film!') elif movie_goer_age ›= with_parent_age and has_parent:

print(Cool beans, enjoy the film with the folks!")
if movie_goer_age >= required_age:
   print('Thanks, enjoy the film!')
elif movie goer age >= with parent age and has parent:
   print(Cool beans, enjoy the film with the folks!')
elif movie goer age >= with_parent_age and not has_parent:
   print("You're old enough to see this with a parent, but I don't see one here.
else
   print('You cannot see this film until you are older.')

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [ ]:
ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00
I
person_age = 8
if person age >= 65:
10
print ("Your ticket is $" + str(ticket - 2.50))
11 elif person_age >= 10 and person age < 65:
print ("Your ticket is $" + str(ticket))
else:
14
print( "Your ticket is S" + str(ticket - 5.00))

### Lists

##### Declaring Lists

In [ ]:
# ordered collection of data; indexable; mutable; iterable; elepents of the list can be of any data type;# Ordered collection of data; indexable; mutable; iterable; elements of the list can be of any data type;

list_1 = [] # Empty List declaration
print(list 1)
print (type(list_1))
names = ['Mike', 'Carol', 'Allison', 'Jim', 'Bob', 'Polly']
print (names)
print (type(names))

##### Indexing a List

In [ ]:
# List[start: stop: step] - start in inclusive, stop is exclusive
#0-based index


# Sinale Index
print(names [3])

# Negative numbers start from the back
print(names [-6])

# Slice the list at index 1 and go to the end (Leave the stop empty)
print(names [1:1)

# Slice the list at index 1 up to but not including index 5
print(names [1:51)

# Slice from the beginning of the list to a certain index (but not including) (leave the start empty)
print(names[:51)

                
# Slice every other element in the list
print(names [::2)

# Negative steps will walk backwards through the list - create a reversed copy of list
print(names [I: -1])
             
# Combo Timel
print(names [1:5:2])

In [ ]:
# Lists are mutable - meaing you can changes the values using item assignment
# Item assianment
#List[index] = value

print (names)

names [31 = "James'
print (names)

In [ ]:
# Strings are IMmutable
my_string = 'Hello World'
print(my_string)
my_string[1] = 'E'
print(my_string)

In [ ]:
# List.append(value) -> Add the value to the end of the list
print(names)
names.append('Brian')

print(names)

In [ ]:
##### .insert()

In [ ]:

# List. insert(index, value) -> Add the value at index and shift everything after down 1


print(names)
names.insert (2, 'Kevin')
print(names)

In [ ]:
##### .pop()

In [ ]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variableassian it into a variable
  
print(names)
best_instructor = names.pop()
print(names)
print(best_instructor)

In [ ]:

##### .remove()

In [ ]:

names.append('Bob')
names.append('Mike')
names.append('Bob')
 
    print(names)

In [ ]:
# value to be removed ,
# list. remove value to remove - remove the FIRST value that matches

names.remove ('Bob')
print(names)

In [ ]:
names.remove!('Bob°*2)
names.remove('BobBob')

In [ ]:
while 'Bob' in names:
names.remove ('Bob')
print(names)

In [ ]:
while 'Bob' in names:
names.remove ('Bob')
print (names)

In [ ]:
##### del()

In [3]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)


del nammes(1)


print (names)

SyntaxError: cannot delete function call (510559311.py, line 7)

In [4]:
##.clear<


# remove all values from the list

print(names)

name clear()

print(names)

SyntaxError: invalid syntax (2846860007.py, line 8)

##### Concatenating Two Lists

In [ ]:
# will append two lists together, not add up the elements in each list

  1_1 [1,2,3,4]
   1_2 = [5,6,7,8]
 L_3 1_2= 1-1 +1_2
(print) 1_3

##### Lists Within Lists

In [ ]:
list-of_list =(
   [1,2,3]
   [4,5,6]
   [7,8,9]

In [ ]:
# Create an empty list called names
names = []

# Add some names to the list
names.extend(['Dan', 'Billy', 'Megan', 'Jim', 'David', 'Holly', 'Kevin'])
print(names)

# Loop through the list and print the type of each element
for element in names:
    print(type(element))

# Access and append to a specific element of the list
names[4].append('Brian')
print(names[4])

### For Loops

In [ ]:
# for <keyword> in <iterables>:
#    <statement>

print('Begin Loop')
for x in [5, 10, 15, 20, 25, 30]:
    print(x)
print('End Loop')

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)
print("Loop is finished")

In [ ]:
name = 'Brian'
for letter in name:
    print(letter)

In [ ]:
##### Continue Statement

In [ ]:
list_to_use = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# will continue to next iteration

In [ ]:
for element in list_to_use:
if element == 50:
continue
print element

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)
print("Loop is finished")

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
def some_func():
    # (update letter)
    pass

In [ ]:
# Do something here - come back and implement later
for num_in_list_to_use:
    
    pass
    
print('Hello World')

In [ ]:
def_some_func():
    # Update_later
    pass

some_func()

##### Nested/Double For Loops

In [ ]:
 for num in range(2,101):
    for divisor in range(3,num//2+1):
if numn % divisor == 0:
       break
elese:
    
print(num)

In [ ]:
### While Loops

In [ ]:

while True:
    ask = input('What would you like to do? ')
    if ask == 'quit':
        break
    else:
        print(f"you want to {ask}")

In [ ]:
from random import randint

random_number = randint(1, 10)

while random_number != 5:
    print(random_number)
    random_number = randint(1, 10)

print('Finally, the random number is:', random_number)

##### Looping 'While True'

In [ ]:
while True:
    ask = input('What would you like to do? ')
    if ask == 'quit':
        break
    else:
        print(f"you want to {ask}")

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [38]:
# Use try-except whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use logging to log out graceful and useful error messages

import logging

number_text = 5

while True:
    try:
        input_num = int(input('Guess a number: '))
        if input_num == number_text:
            print(f'Congratulations, you correctly guessed the number: {number_text}')
            break
        else:
            print('That is incorrect. Please guess again.')
    except ValueError:
        logging.exception('An error occurred while converting user input to an integer.')
        print('That did not work. Your input must be a number.')

Guess a number: 10
That is incorrect. Please guess again.
Guess a number: 3
That is incorrect. Please guess again.
Guess a number: 4
That is incorrect. Please guess again.
Guess a number: 6
That is incorrect. Please guess again.
Guess a number: 5
Congratulations, you correctly guessed the number: 5

In [39]:
try:
    print("Hello, I am going to attempt to divide by zero.")
    num = 7 / 0
    print('I was successful.')
    num.append('hello')
except ZeroDivisionError:
    print('You cannot divide by zero, what were you thinking?')
except Exception:
    print('There was a different issue.')

Hello, I am going to attempt to divide by zero.
You cannot divide by zero, what were you thinking?

##### Looping Through Lists

In [37]:
# Two ways to loop through a list, using range for index and 'in' for values
new_list = ['Chicago', 'New York', 'Los Angeles', 'Phoenix', 'Philadelphia', 'San Francisco']

# Loop with a for loop (By Index)
for i in range(len(new_list)):
     print(new_list[i])

# Loop with a for loop (Using the 'in' keyword)
for city in new_list:
      print(city)

# Loop with a for loop using enumerate to get both index and value
for index, value in enumerate(new_list):
      print(index, value)

# Loop with a for loop using range to represent index
for i in range(5):
      print(i)

Chicago
New York
Los Angeles
Phoenix
Philadelphia
San Francisco
Chicago
New York
Los Angeles
Phoenix
Philadelphia
San Francisco
0 Chicago
1 New York
2 Los Angeles
3 Phoenix
4 Philadelphia
5 San Francisco
0
1
2
3
4

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []
num = 1
while True:
    cube = num ** 3
    if cube > 1000:
        break
    list_num.append(cube)
    num += 1

print(list_num)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime_numbers = []

for num in range(2, 101):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        prime_numbers.append(num)

print(prime_numbers)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
# * BONUS *

age = input('What is your age? ')
print(age, type(age))

In [ ]:
age = int(input('What is your age? '))
if age < 18:
    print(f"I'm {age} years old, so I'm a kid.")
elif age >= 18 and age <= 65:
    print(f"I'm {age} years old, so I'm an adult.")
else:
    print(f"I'm {age} years old, so I'm a senior.")